.btn-logout:hover{
  color: #ffffff;
  background-color: #FA0000 !important;
  border-color: #FA0000;
}
.MuiOutlinedInput-notchedOutline, label,fieldset{
  color: #23C94A !important;
  border-color: #23C94A !important;
}
.MuiInputBase-root{
  color: #ffffff !important;
}
.btn-create:hover,.btn-submit:hover{
  color: #001215 !important;
  background-color: #23C94A !important;
}
.btn-db:hover{
  color: #001215 !important;
  background-color: #23C94A !important;
}
.DayPickerInput, .DayPickerInput input{
  background-color: #001215 !important;
  color: #23C94A !important;
  border-style: none;
  border-width: 0px;
  outline-style: none;
}

.DayPicker{
  background-color: #001215 !important;
  border-style: solid;
  border-width: 1px;
  border-color: #23C94A;
  width: 250px;
  color: #23C94A;
}

ul, li{
  background-color: #021D25 !important;
  color: #23C94A !important;
}
ul{
  border: solid 1px #23C94A !important;
}
.MuiSelect-iconOutlined{
  color: #23C94A !important;
}
#select-dept, #select-sub-dept, #select-sem{
  text-align: left;
}